@import 'styles/normalize.css';
@import 'styles/settings';

.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.form{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0.5rem;
    &-add{
        margin-bottom: 2rem;
    }
}
.btn{
    background: white;
    border: 1px black solid;
    padding: 0.125rem;
}