@import 'styles/normalize.css';
@import 'styles/settings';

.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0.5rem;
    &-add{
        margin-bottom: 2rem;
    }
}
.btn{
    background: white;
    border: 1px black solid;
    padding: 0.125rem;
}
input{
    max-width: 7rem;
}
.inputs{
    margin-right: 0.225rem;
}
.pet-type{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.excel-form{
    margin-bottom: 1.250rem;
}