@import 'styles/normalize.css';
@import 'styles/settings';

.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.form{
    display: inline-flex;
    flex-wrap: nowrap;
    &-add{
        margin-bottom: 2rem;
    }
}