<p>Добавить животных через excel</p>
<form action="/excel" class="excel-form" enctype="multipart/form-data" method="post">
    <input type="file" name="file" style="max-width:7.9rem;">
    <button class="btn" type="submit">Добавить excel</button>
</form>