<span>Добавить животных через excel</span>
<form action="/excel" class="excel-form" enctype="multipart/form-data" method="post">
    <input type="file" name="file" style="max-width:18rem;">
    <button class="btn" type="submit">Добавить excel</button>
</form>