<span data-form="addPetType" class="buttons__item">Добавить тип животного</span>
<form action="/type" class="form-addPetType pet-type" method="post" role="form">
    <input type="text" name="type">
    <button class="btn" type="submit">Добавить тип</button>
</form>